.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-top-spacer: 9px;
    --search-button-width: 52px;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgba(248, 17, 86, 0.12);
    background-color: var(--white);
}
.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-space);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.logo-link {
    display: flex;
}
//action
.action {
    display: flex;
    align-items: center;
}
.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    &:hover {
        cursor: pointer;
    }
}
.action-btn {
    font-size: 26px;
    padding: 4px 12px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
}
.user-avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 16px;
    cursor: pointer;
}
