.search,
.search-result {
    width: 361px;
}
.search {
    height: var(--search-height);
    background: rgba(22, 24, 35, 0.06);
    padding-left: 16px;
    display: flex;
    border-radius: var(--search-border-radius);
    font-size: 1.6rem;
    position: relative;
    border: 1.5px solid transparent;
    input {
        height: 100%;
        color: var(black);
        padding-right: 40px;
        background-color: transparent;
        flex: 1;
        font-family: var(--font-family);
    }
    //how to select not empty css selector
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &::after {
        content: '';
        position: absolute;
        right: var(--search-button-width);
        top: var(--search-top-spacer);
        width: 1px;
        height: calc(var(--search-height) - var(--search-top-spacer) * 2);
        background: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 500;
    color: rgba(22, 24, 35, 0.5);
}
.search-result {
}
.clear,
.loading {
    color: rgba(22, 24, 35, 0.34);
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
}
.loading {
    animation: spinner 0.8s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
